.root {

}

.title {
    -fx-font-size: 64;
    -fx-text-fill: #fff;
    -fx-min-width: 450;
    -fx-alignment: center;
    -fx-min-height: 100;
    -fx-background-image: url("/images/overlay/wood_title.png");
    -fx-background-size: stretch;
}

/*HBox, VBox {*/
/*    -fx-alignment: center;*/
/*    -fx-spacing: 10;*/
/*    -fx-min-height: 320;*/
/*}*/

.title-and-button {
    -fx-padding: 20;
}

.round-number {
    -fx-font-size: 200;
    -fx-text-fill: #fff;
}

.trick-complete {
    -fx-font-size: 100;
    -fx-text-fill: #fff;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
}

.save-notification {
    -fx-font-size: 150;
    -fx-text-fill: #fff;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
}