.root {
    -fx-background-color: linear-gradient(rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%);
    -fx-background-image: url("/images/background/pirate_town.jpeg");
    -fx-background-size: cover;
}

HBox, VBox {
    -fx-alignment: center;
    -fx-spacing: 10;
}


Text {
    -fx-font-size: 150;
    -fx-fill: #fff;
}