name: Scala Release

on:
  push:
    tags:
      - '*'
  pull_request:
    tags:
      - '*'


permissions: write-all

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            java: 17
          #- os: macos-latest
          #  java: 17
          #- os: windows-latest
          #  java: 17


    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'adopt'
      - name: compile
        run: sbt compile
      - name: run tests
        run: sbt test
      - name: jar
        run: sbt package

  release:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Create release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ github.ref_name }}
        run: |
          gh release create "$tag" \
              --repo="$GITHUB_REPOSITORY" \
              --title="${GITHUB_REPOSITORY#*/} ${tag#v}" \
              --generate-notes
          gh release upload "$tag" /home/runner/work/Skull-King/Skull-King/target/scala-3.4.0/*.jar
          

