name: Scala CI/CD

on:
  push:
    branches: [main, develop]
    tags:
      - '*'
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'adopt'
      - name: compile
        run: sbt compile
      - name: run tests
        run: sbt test

  run_tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: export Coverage
        run: |
          export CI_BRANCH="${GITHUB_REF#refs/heads/}"
          sbt coverage test coverageReport coveralls
        env:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}

