name: Test
on:
    push:
      branches:
        - feature/**

jobs:
  run_tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: export Coverage
        run: |
          export CI_BRANCH="${GITHUB_REF#refs/heads/}"
          sbt coveralls
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
          COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}